<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="script.js"></script>
    <title>FANS</title>
  </head>
  <body>
    
    <script>

      const DEACTIVATE_URL = {{url_for("deactivate_alarm") | tojson}};
      const TIMEOUT_URL = {{url_for("set_timeout", duration="3600") | tojson}};

      function deactivate_emergency() {
          fetch(DEACTIVATE_URL).then((response) => {
              window.location.reload();
          });
      }

      function submit_timeout() {
          const field = document.getElementById("timeout");
          const duration = field.value;
          const timeout_with_duration = TIMEOUT_URL.replace("3600", duration);
          fetch(timeout_with_duration).then((response) => {

              if (response.status != 200){
                  response.json().then(message => {
                      document.getElementById("timeout-success").textContent = message.message;
                  })
                  return;
              }

              document.getElementById("timeout-success").textContent = "Timeout set successfully!";

              // Remove success message after 10s
              setTimeout(() => {
                  document.getElementById("timeout-success").textContent = "";
              }, 5000);
          })
      }
    </script>

    <main>
      <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Logout</a>
      </div>

      <div class="content-box">
        <div class="fire-alarm-box">
          <p class="title-1">Welcome {{full_username}}</p>
          <br />
          <div class="status-and-timer-container">
            <div class="alarm-status-box1 {{ color_class }}">
              <p><b>{{username}}'s Fire Alarm</b></p>
              <div class="alarm-status-box2 {{color_class}}">
                {% if emergency_flag %}
                <p class="fire">FIRE DETECTED</p>
                {% else %}
                <p class="no-fire">Clear</p>
                {% endif %}
              </div>
              {% if emergency_flag %}
              <button id="deactivate" onclick="deactivate_emergency()">Deactivate Emergency</button>
              {% endif %}
            </div>
            <div class="alarm-status-box1">
              <p><b>{{username}}'s Pager</b></p>
              <div class="alarm-status-box2 {{color_class}}">
                {% if emergency_flag %}
                <p class="fire">Disconnected</p>
                {% else %}
                <p class="no-fire">Connected</p>
                {% endif %}
              </div>
            </div>
            <div class="timer-settings">
              <p class="title-2">Timeout System</p>
              <input id="timeout" type="number" min="1" max="1440" step="60" value="3600"></input>
              <br />
              <p id="timeout-label">System timeout in seconds (maximum 4 hours/7200 seconds).</p>
              <br />
              <button id="submit-timeout" onclick="submit_timeout()">Submit Timeout</button>
              <p id="timeout-success"></p>
            </div>
          </div>
        </div>
        
        </div>

        <div class="data-box">
          <div class="graph-container">
            <div class="temperature-box">
              <p class="title-2">Temperature</p>
              <p style="color:var(--text-color)" class="current-temp">Current Temperature: {{current_temperature}} &#176;C</p>
              <canvas id="temperature-graph" width="325" height="325"></canvas>
            </div>
          
          

            <script>

                const GET_TEMPERATURE = {{url_for("get_temperature") | tojson}};

                // Temperature line chart
                let temperature_chart = new Chart(document.getElementById("temperature-graph"), {
                  type: 'line',
                  data: {
                    labels: [],
                    datasets: [{
                        data: [],
                        label: "Temperature",
                        borderColor: "#ff4d4d",
                        fill: false
                      }
                    ]
                  },
                  options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Temperature (C)"
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Time",
                            }
                        }]
                    },
                    title: {
                      display: true,
                      text: "Temperature of system environment"
                    },
                    hover: {
                     mode: 'index',
                     intersect: true
                    },
                  }
                });

                function refresh_temp_values() {
                    fetch(GET_TEMPERATURE).then((response) => {
                        response.json().then(data => {
                            temperature_chart.data.labels = data.timestamps;
                            temperature_chart.data.datasets[0].data = data.vals;
                            temperature_chart.options.title.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--text-color');
                          temperature_chart.options.legend.labels.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--text-color');
                          temperature_chart.options.scales.xAxes[0].scaleLabel.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                          temperature_chart.options.scales.yAxes[0].scaleLabel.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                          temperature_chart.options.scales.yAxes[0].ticks.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                          temperature_chart.options.scales.xAxes[0].ticks.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                          temperature_chart.data.datasets[0].borderColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            temperature_chart.update();
                        })
                    })
                }
            </script>

          <div class="smoke-box">
            <p class="title-2" styles="align-items:center;">Smoke</p>
            <p style="color:var(--text-color)">Current Smoke Level: {{current_smoke}} PPM</p>
            <canvas id="smoke-graph" width="325" height="325"></canvas>
          </div>

            <script>

                const GET_SMOKE = {{url_for("get_smoke") | tojson}};

                // Temperature line chart
                let smoke_chart = new Chart(document.getElementById("smoke-graph"), {
                  type: 'line',
                  data: {
                    labels: [],
                    datasets: [{
                        data: [],
                        label: "Smoke Concentration",
                        borderColor: "#ff4d4d",
                        fill: false
                      }
                    ]
                  },
                  options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Smoke (PPM)"
                            }
                        }],
                        xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Time",
                            }
                        }]
                    },
                    title: {
                      display: true,
                      text: "Smoke concentration of system environment"
                    },
                    hover: {
                     mode: 'index',
                     intersect: true
                    },
                  }
                });

                function refresh_smoke_values() {
                    fetch(GET_SMOKE).then((response) => {
                        response.json().then(data => {
                            smoke_chart.data.labels = data.timestamps;
                            smoke_chart.data.datasets[0].data = data.vals;
                            smoke_chart.options.title.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--text-color');
                            smoke_chart.options.legend.labels.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--text-color');
                            smoke_chart.options.scales.xAxes[0].scaleLabel.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            smoke_chart.options.scales.yAxes[0].scaleLabel.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            smoke_chart.options.scales.yAxes[0].ticks.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            smoke_chart.options.scales.xAxes[0].ticks.fontColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            smoke_chart.data.datasets[0].borderColor = getComputedStyle(document.documentElement).getPropertyValue('--link-hover-color');
                            smoke_chart.update();
                        })
                    })
                }

                function refresh_charts() {
                    refresh_smoke_values()
                    refresh_temp_values()
                    // Refresh every three seconds
                    setTimeout(() => {
                        refresh_charts();
                    }, 3000);
                }

                refresh_charts(); // Refresh when page loads
            </script>
      </div>  
      </div>
      </div>
    </main>
    <script src="static/script.js"></script>
  </body>
</html>
