<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
    <title>FANS</title>
  </head>
  <body>
    <script>

      const DEACTIVATE_URL = {{url_for("deactivate_alarm") | tojson}};
      const TIMEOUT_URL = {{url_for("set_timeout", duration="3600") | tojson}};

      function deactivate_emergency() {
          fetch(DEACTIVATE_URL).then((response) => {
              window.location.reload();
          });
      }

      function submit_timeout() {
          const field = document.getElementById("timeout");
          const duration = field.value;
          const timeout_with_duration = TIMEOUT_URL.replace("3600", duration);
          fetch(timeout_with_duration).then((response) => {

              console.log(response.status);
              if (response.status != 200){
                  response.json().then(message => {
                      document.getElementById("timeout-success").textContent = message.message;
                  })
                  return;
              }

              document.getElementById("timeout-success").textContent = "Timeout set successfully!";

              // Remove success message after 10s
              setTimeout(() => {
                  document.getElementById("timeout-success").textContent = "";
              }, 5000);
          })
      }
    </script>

    <main>
      <div class="nav-bar">
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="">Logout</a>
      </div>

      <div class="content-box">
        <div class="fire-alarm-box">
          <p class="title1">Welcome, BLANK</p>
          <br />
          <p class="alarm-name"><strong>Fire Alarm:</strong> BLANK's Alarm</p>

          <div class="alarm-status-box1 {{ color_class }}">
            <div class="alarm-status-box2 {{color_class}}">
              {% if emergency_flag %}
              <p class="fire">FIRE DETECTED</p>
              {% else %}
              <p class="no-fire">Clear</p>
              {% endif %}
            </div>
            {% if emergency_flag %}
            <button id="deactivate" onclick="deactivate_emergency()">Deactivate Emergency</button>
            {% endif %}
          </div>
          <br />
          <p class="title2"><strong>Accessory Device:</strong> BLANK's Pager</p>
          <div class="alarm-status-box1">
            <div class="alarm-status-box2 {{color_class}}">
              {% if emergency_flag %}
              <p class="fire">Disconnected</p>
              {% else %}
              <p class="no-fire">Connected</p>
              {% endif %}
            </div>
          </div>
          <br />
          <div class="log-box">
            <p class="title-2">Activity Log</p>
            <p>Last fire on BLANK</p>
            <div class="activity-box"></div>
          </div>
          <br />
          <div class="timer-settings">
            <p class="title-2">Timeout System</p>
            <input id="timeout" type="number" min="1", max="1440" step="60" value="3600"></input>
            <br/>
            <label for="timeout">System timeout in seconds (maximum 4 hours/7200 seconds).</label>
            <br/>
            <button id="submit-timeout" onclick="submit_timeout()">Submit Timeout</button>
            <p id="timeout-success"></p>
          </div>
        </div>

        <div class="data-box">
          <div class="temperature-box">
            <p class="title-2">Temperature</p>
            <p class="current-temp">Current Temperature: {{current_temperature}} &#176;C</p>
            <div class="temperature-graph">
              <p>GRAPH GOES HERE</p>
            </div>
          </div>

          <div class="smoke-box">
            <p class="title-2">Smoke</p>
            <p>Current Smoke Level: {{current_smoke}} PPM</p>
            <div class="smoke-graph">
              <p>GRAPH GOES HERE</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
