<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web-app\static\auth.css">
    <link rel="stylesheet" href="web-app\static\global.css">
    <title>FANS</title>
</head>
<body>
    <main>
        <div class="nav-bar">
            <a href="web-app\templates\index.html">Home</a>
            <a href="web-app\templates\login.html">Login</a>
        </div>

        <form>
            <div class="form-box">
                <p>Login</p>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="email"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="password" required>
                <p>Forgot your password? <a><bold>Reset Password</bold></a></p>
                <div>
                    <button type="submit" class="login">Login</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>