<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
  <script src="script.js"></script>
  <title>Login</title>
</head>

<body>

  <main>
    <div class="nav-bar">
      <a href="/">Home</a>
      <a href="/signup">Sign Up</a>
    </div>
    <form method="POST" action="/login">
      <div class="form-box">
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required />
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required />
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
        <div class="login-btn-box">
          <button type="submit" class="login-btn">Login</button>
        </div>
      </div>
    </form>
  </main>
  <script src="static/script.js"></script>
</body>

</html>