<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web-app\static\settings.css">
    <link rel="stylesheet" href="web-app\static\global.css">
    <title>FANS</title>
</head>
<body>
    <main>
        <div class="nav-bar">
            <a href="web-app\templates\index.html">Home</a>
            <a href="web-app\templates\settings.html">Settings</a>
            <a href="login.html">Logout</a>
        </div>

        <div class="account-box">
            <p>First Name:</p>
            <p>Last Name:</p>
            <p>Email:</p>
            <p>Password:</p>
        </div>

        <div class="alarm-settings-box">
            <p>Smoke Threshold:</p>
            <p>Temperature Threshold:</p>
        </div>

        <div class="appearance-box">
            <p>Theme</p>
        </div>


    </main>
</body>
</html>