<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="web-app\static\auth.css">
    <link rel="stylesheet" href="web-app\static\global.css">
    <title>FANS</title>
</head>
<body>
    <main>
        <div class="nav-bar">
            <a href="web-app\templates\index.html">Home</a>
            <a href="web-app\templates\login.html">Login</a>
        </div>
        <form>
            <div class="form-box">
                <p>Sign Up</p>
                <label for="f-name"><b>First Name</b></label>
                <input type="text" placeholder="Enter First Name" name="f-name" required>
                <label for="l-name"><b>Last Name</b></label>
                <input type="text" placeholder="Enter Last Name" name="l-name" required>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="email"><b>Password</b></label>
                <input type="text" placeholder="Enter Password" name="password" required>
                <p>Already a member? <a href="login.html"><bold>Login</bold></a></p>
                <div>
                    <button type="submit" class="signup">Sign Up</button>
                </div>
            </div>
        </form>


    </main>
</body>
</html>