html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

label {
  color: #f5f5f5;
  font-size: 1.2em;
}

input {
  color: #f5f5f5;
  margin-bottom: 1em;
}

.reset-p-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reset-p {
  text-decoration: none;
  color: #f5f5f5;
}

.reset-p:hover {
  color: #0f9ddd;
}

.login-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.login-btn {
  border-radius: 5px;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em 2em 0.5em 2em;
  font-size: 1.2em;
}

.login-btn:hover {
  color: #0f9ddd;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 1px;
  font-size: 1em;
}
