html,
body {
  height: 100%;
  margin: 1em 0 0 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fire-alarm-box {
  padding: 0.5em 0.25em 0.5em 0.25em;
  margin-right: 0.5em;
  flex: 1;
}

.alarm-name-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.alarm-status-box {
  border: 2px solid #fff;
  padding: 0.2em;
  margin-bottom: 0.5em;
  font-size: 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alarm-status-box.fire {
  border: 2px solid #ff4d4d;
}

.alarm-status-box.no-fire {
  border: 2px solid #4dff4d; 
}

.fire {
  color: #ff4d4d;
}

.no-fire{
  color:#4dff4d;
}
.alarm-name {
  margin-bottom: 0.5em;
  font-size: 2.5em;
  white-space: nowrap;
}

.title-2 {
  font-size: 1.5em;
  white-space: nowrap;
}

.log-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.vertical-line {
  border-left: 1px solid #f5f5f5;
  margin: 0 1em;
}

.data-box {
  padding: 2em 1em 2em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.smoke-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.temperature-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.current-temp p{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
