:root {
  --background-color-dark: #23282e;
  --text-color-dark: #f5f5f5;
  --link-hover-color-dark: #ff4d4d;
  --border-color-dark: #fff6e0;
  --connection-color-dark: #4dff4d;

  --background-color-light: #ffffff;
  /* Updated background color */
  --text-color-light: #23282e;
  /* Updated text color */
  --link-hover-color-light: #0c7bb3;
  --border-color-light: #23282e;
  --connection-color-light: #2ecc71;
}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --link-hover-color: var(--link-hover-color-light);
  --border-color: var(--border-color-light);
  --connection-color: var(--connection-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
  --border-color: var(--border-color-dark);
  --connection-color: var(--connection-color-dark);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fire-alarm-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em 0.5em 1em;
  flex: 1;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  margin-bottom: 1em;
  width: 100vh;
}

.status-and-timer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.welcome-user p {
  font-size: 0.5em;
  margin-bottom: 10px;
}

.fire-alarm-box p {
  font-size: 1.5em;
}

.alarm-status-box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.alarm-status-box2 {
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 0.2em;
  margin-bottom: 0.5em;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}

.alarm-status-box2.fire {
  border: 2px solid var(--link-hover-color);
}

.alarm-status-box2.no-fire {
  border: 2px solid var(--connection-color);
}

.fire {
  color: var(--link-hover-color);
  font-size: 1em;
}

.no-fire {
  color: var(--connection-color);
  font-size: 1em;
}

.alarm-name {
  margin-bottom: 2px;
  font-size: 1.5em;
  white-space: nowrap;
}

.title-1 {
  font-size: 1.5em;
  white-space: nowrap;
  margin-bottom: 0.5em;
}

.title-2 {
  font-size: 1.5em;
  white-space: nowrap;
  font-weight: 700;
}

.data-box {
  padding: 0.5em 1em 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  width: 100vh;
  margin-bottom: 0.5em;
}

.smoke-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.temperature-box {
  padding: 1em;
  margin-bottom: 0.5em;
}

.current-temp p {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.temperature-graph,
.smoke-graph {
  border: 2px solid var(--border-color);
  padding: 1em;
  width: 100px;
  height: 50px;
}

.temperature-graph,
.smoke-graph p {
  color: var(--text-color);
}

.temperature-box,
.smoke-box {
  text-align: center;
}

.current-temp p {
  justify-content: center;
}

.graph-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}

#deactivate {
  padding: 10px;
  text-transform: uppercase;
  border-width: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s;
}

#deactivate:hover {
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
  cursor: pointer;
  padding: 14px 17px;
  font-size: 0.75em;
}

input,
button {
  color: var(--text-color);
  padding: 10px;
  text-transform: uppercase;
  border-width: 3px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
}

.timer-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

#submit-timeout {
  padding: 10px;
  text-transform: uppercase;
  border-width: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s;
  margin-top: 5px;
}

#submit-timeout:hover {
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
  cursor: pointer;
  padding: 14px 17px;
  font-size: 0.75em;
}

#timeout-success {
  font-size: 1em;
  margin: 5px 0 0 0;
}

#timeout-label {
  color: var(--text-color);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 0 5px 0;
}