html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-2 {
  font-size: 1.5em;
  white-space: nowrap;
}

.settings-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
  border: 2px solid #f5f5f5;
  border-radius: 3px;
  padding: 5px;
}

.account-box p {
  margin: 0.5em;
}

.alarm-settings-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.settings-box p {
  margin: 0.5em;
  margin-bottom: 5px;
  color: #f5f5f5;
}

label,
input,
button {
  color: #f5f5f5;
  margin-bottom: 1em;
}

input,
button {
  border: 2px solid #f5f5f5;
  border-radius: 3px;
}
