@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color-dark: #23282e;
  --text-color-dark: #f5f5f5;
  --link-hover-color-dark: #ff4d4d;
  --border-color-dark: #fff6e0;
  --connection-color-dark: #4dff4d;

  --background-color-light: #ffffff; /* Updated background color */
  --text-color-light: #23282e; /* Updated text color */
  --link-hover-color-light: #0c7bb3;
  --border-color-light: #23282e;
  --connection-color-light: #2ecc71;

}

[data-theme="light"] {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --link-hover-color: var(--link-hover-color-light);
  --border-color: var(--border-color-light);
  --connection-color: var(--connection-color-light);
}

[data-theme="dark"] {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --link-hover-color: var(--link-hover-color-dark);
  --border-color: var(--border-color-dark);
  --connection-color: var(--connection-color-dark);
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-2 {
  font-size: 1.5em;
  white-space: nowrap;
}

.settings-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
  border: 2px solid var(--border-color);
  border-radius: 3px;
  padding: 15px;
}

.account-box p {
  margin: 0.5em;
}

.alarm-settings-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.settings-box p {
  margin: 0.5em;
  margin-bottom: 5px;
  color: var(--text-color);
}

label,
input,
button {
  color: var(--text-color);
  margin-bottom: 1em;
}

input,
button {
  border: 2px solid var(--border-color);
  border-radius: 3px;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  border-width: 4px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  transition: all 0.3s;
  margin-top: 5px;
}

button:hover {
  border-color: var(--link-hover-color);
  color: var(--link-hover-color);
  cursor: pointer;
  padding: 14px 17px; /* Increase padding on hover */
  font-size: 0.75em;
}

form {
  padding: 10px; /* Add padding to the form */
}

body {
  transition: background-color 0.3s, color 0.3s;
}